.banner{
    /* The image used */
    background-image: url("../../public/banner5.jpg");
    height: 100vh; 
    position: absolute;
    /* z-index: -5; */

    /* height: 100%;  */
    /* width: 100vw; */
    /* overflow-x: hidden; */
    /* Center and scale the image nicely */
    background-position: center ;
    /* background-repeat: no-repeat; */
    background-size: cover;


  }