.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 100px 0px 0px 0px;
  min-height: 300px;
  overflow-x: hidden;
  height: 10%;
  text-align: center;
}

.typeWriter {
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: 500;
  /* font-style: italic; */
  font-family: "Monoton", monospace;
  color: #ffffffc9;
  text-transform: uppercase;
  font-size: 50px;
  position: relative;
}

/* to reduce the font size in small screen  */
@media screen and (max-width:480px){
  .typeWriter {
    font-size: 30px;
  }
}