p {
    font-size: 1.125rem;
    /* = to 18px  */
  }
  
  h1 {
    font-size: 2rem;
    /* = to 32px (2 * 16 = 32) */
  }
  
  /* Small screens */
  @media (max-width: 600px) {
    p {
      font-size: 1.125rem;
      /* = to 16px */
    }
    button{
      font-size: 0.9rem !important;
    }
  }
  
  /* Medium screens */
  @media (min-width: 600px) and (max-width: 1024px) {
    p {
      font-size: 1.125rem;
      /* = to 18px */
    }
  }
  
  /* Large screens */
  @media (min-width: 1025px) {
    #about article {
      font-size: 1.3rem;
      /* = to 25px */
    }
  p{
    font-size: 1.463rem;
  }
  button{
    font-size: 1.20rem !important;
  }
    #navbar p {
      font-size: 1.30rem;
      /* = to 20px */
    }
  }