/* @import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');


/* html {
  overflow-x: hidden;
  background: url("../public/banner.jpg") no-repeat center center !important;
  -webkit-background-size: cover  !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  color: #f1f1f1;
} */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  overflow-x: hidden;
 
}

main{
  /* The image used */
  background-image: url("../public/banner8.jpg")  ;
  height: 100% !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}


#mouse-follower {
  position: fixed;
  border-radius: 50%;
  background-color: rgb(240, 224, 224);
  pointer-events: none;
  z-index: 5;
  transform: translate(-50%, -50%);
 
}



#mouse-follower:before {
  content: '';
  position: absolute;
  bottom: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 8px solid #f1f1f1;
}

#mouse-follower:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f1f1f1;
}