@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

* {
  box-sizing: border-box;
  /* font-family: 'Mulish', sans-serif; */
}

body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  overflow-x: hidden;

}

main {
  height: 100%;
}

#video {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

}



#mouse-follower {
  position: fixed;
  border-radius: 50%;
  background-color: rgb(240, 224, 224);
  pointer-events: none;
  z-index: 5;
  transform: translate(-50%, -50%);

}



#mouse-follower:before {
  content: '';
  position: absolute;
  bottom: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 8px solid #f1f1f1;
}

#mouse-follower:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f1f1f1;
}

span.Typewriter__wrapper {
  text-decoration: underline;
  text-align: center;
}

span .Typewriter__cursor {
  position: relative; 
  left: 0; 
  right: 0; 
  margin-left:-8px;
}

img {
  width: 100%;
  height: 100%;
}


.splash-screen{
  width: 100vw;
  height:100vh;
   /* The image used */
   background-image: url("https://images.unsplash.com/photo-1505322022379-7c3353ee6291?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
#logo{
  margin: 0 auto ;
  width: 50%;
  height:50%;
}