/* html {
  overflow-x: hidden;
  background: url("../public/banner3.jpg") no-repeat center center !important;
  -webkit-background-size: cover  !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  color: #f1f1f1;
} */
body {
  box-sizing: border-box;
  margin: 0;
  background-color: black;
  overflow-x: hidden;

}

#mouse-follower {
  position: absolute;
  /* width: 10px;
  height: 10px; */
  border-radius: 50%;
  background-color: rgb(240, 224, 224);
  pointer-events: none;
}



#mouse-follower:before {
  content: '';
  position: absolute;
  bottom: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 8px solid #f1f1f1;
}

#mouse-follower:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f1f1f1;
}
